[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scikit-learn = "==1.2"
pandas = "*"
flask = "*"
gunicorn = "*"
xgboost = "*"

[dev-packages]

[requires]
python_version = "3.9"
